doctype html
link(rel='stylesheet', href='../css/base.css')

doctype html
html
  include ./head.jade
  include ./nav.jade
  body#child_me
    h3#about_page_reference About Me
    section#me_awesome
      h2#about_me Josh Zylstra
        p This is the story of a boy who moved across the country. A Michigan child, who found his way to the mountains of Washington and the waters of Seattle. Some claim it was an accident, a mere coincidence that he found himself in the only place that would satisfy his desires for the outdoors...
    section#buy_my_books
      ul
        h3 Buy My Best Selling Nature Books
          li.my_books
            a(href="") Water So Clear It Stares Into Your Soul
          li.my_books
            a(href="") Mountains Are More Beautiful Than Naked People
          li.my_books
            a(href="") The Desert: You Choose To Live Where, Why?

          li
            <img src="./Josh.jpg" >
    section        
      h2.kris_about Kris Skelton
      p Kris has several useless degrees and formerly had expensive hobbies. A Seattle native, he rarely takes advantage of the nearby mountains and forests because he hates crowds; he avoids the annual cultural festivals for the same reason. He does love coffee, and recycles, so feels that redeems his Seattlite-status.
      p When he hears MongDB this immediately pops into his head:
      iframe(width="420" height="315" src="https://www.youtube.com/embed/P8ciVBQixpU" frameborder="0" allowfullscreen)
      
      include ./footer.jade
