#about_me {
  font-size: 2em;
  font-family: Helvetica;
  margin: 1em auto;
}
p {
  background-color: white;
  font-size: .8em;
}
#me_awesome {
  float: left;
  width: 50%;
  border: 1px solid black;
  clear: both;
}
#buy_my_books {
  float: right;
  width: 49%;
}
li {
  letter-spacing: .1em;
  margin-bottom: 1em;
}
#footer {
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  display: inline-block;
}
.navbar ul {
  display: inline;
  list-style: none;
  text-align: center;
  float: left;
  overflow: auto;
}
.navbar li {
  display: inline;
  float: left;
  margin: 1em;
}
#about_page_reference {
  text-align: left;
  font-size: 3em;
}
.my_books a:hover {
  font-color: orange;
}
.my_books a:visited {
  color: black;
  text-decoration: none;
}
